.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url(../../../images/card_1.jpg);
  background-size: cover;
  /*Ковер тут симпатичнее контейна*/
  background-position: center;
  margin: 0 29px 0 0;
  z-index: 1;
  /*Макет очень кривоват, как считать этот отступ я хз. Проявите тут лояльность пока что*/
}

.profile__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  opacity: 0; /* начальная прозрачность */
  transition: opacity 0.3s ease; /* добавляем плавный переход */
}

.profile__image:hover::before {
  opacity: 1; /* при наведении устанавливаем полную прозрачность */
  background-image: url('../../../images/pen.svg');
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
